<div>
  <%= simple_form_for @post do |f| %>
    <%= f.input :link, label_html: { class: 'js-link' }%>
    <%= f.input :tag_list, label_html: { class: 'js-tag_list' } %>
    <%= f.button :submit %>
  <% end %>
</div>
