<div>
  <%= simple_form_for @post do |f| %>
    <%= f.input :link, label_html: { class: 'js-link' }%>
    <%= f.input :caption, label_html: { class: 'js-caption' }%>
    <%= f.button :submit %>
  <% end %>
</div>
